$MainNavyBlue: #005594;
$SecondaryNavyBlue: #3b8fb8;
$MainBlue: #76cadd;
$SecondaryBlue: #acdfea;
$TertiaryBlue: #c8e9f1;
$SecondaryYellow: #ffdc60;
$MainYellow: #f8c33a;
$SecondaryOrange: #f49926;
$MainOrange: #f16f12;
$SecondaryRed: #ec4719;
$MainRed: #e71e20;
$PageGrey: #f5f5f5;
$White: #fff;
$HeaderGrey: #495057;
$MainGrey: #343a40;
$Black: #000;
