@import '../../styles//utils/vars';

.header {
  display: flex;
  background-color: $White;
  color: $HeaderGrey;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 65px;
  padding: 0 40px;
  z-index: 30;

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    display: flex;
    background-image: url(../../images/logo.svg);
    height: 46px;
    width: 95px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &-link {
      height: 46px;
      width: 95px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__bell {
    height: 20px;
    width: 20px;
    margin-right: 34px;
    position: relative;

    &-mail {
      background: $MainRed;
      color: $White;
      border-radius: 20px;
      width: 24px;
      height: 16px;
      left: 12px;
      top: -4px;
      position: absolute;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 34px;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: 34px;

    &-icon {
      height: 18px;
      width: 18px;
      margin-right: 10px;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    margin-right: 34px;

    &-icon {
      height: 22px;
      width: 22px;
      margin-right: 10px;
    }
  }

  &__home {
    background-color: $MainNavyBlue;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    position: relative;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border-radius: 8px;
      transition: all 0.3s;

      &:hover {
        background-color: $SecondaryNavyBlue;
      }

      &:active {
        background-color: $MainNavyBlue;
      }
    }
  }

  &__button {
    color: $White;
    height: 22px;
    width: 22px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: #c7dbea;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
}

.menu {
  background-color: $MainNavyBlue;
  position: absolute;
  right: 0;
  top: 58px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;

  &__item {
    color: $White;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      width: 166px;
      padding: 8px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: $TertiaryBlue;
        color: $MainNavyBlue;
        border-radius: 8px;
      }
    }

    &-icon {
      height: 22px;
      width: 22px;
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__close {
    height: 20px;
    width: 20px;
    margin: 0 8px 0 16px;
    cursor: pointer;
  }
}
