@import '../../styles/utils/vars';

.dropdown-items {
  width: 80px;
  position: absolute;
  margin-left: -80px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: $White;
  z-index: 20;
}

.dropdown-item {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;

  &:hover {
    background-color: #e8f2f7;
    border-radius: 4px;
  }

  &:not(first-child) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &:not(last-child) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.isVisible {
  visibility: visible;
}

.isHidden {
  visibility: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0 -30px;
  background-color: $White;
  height: 72px;

  &__name {
    font-size: 24px;
    line-height: 34px;
    color: $Black;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    border-radius: 8px;
    background-color: $SecondaryOrange;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.3s;

    &:hover {
      background-color: #ffaa3f;
    }

    &:active {
      background-color: $SecondaryOrange;
    }

    &-button {
      color: $White;
      padding: 0 35px;
    }

    &-disabled {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      border-radius: 8px;
      background-color: #f8c88c;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      cursor: not-allowed;
    }
  }
}

.chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0;

  &__name {
    font-size: 24px;
    line-height: 34px;
  }

  &__button {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  background-color: $White;
  transition: all 1000ms ease;
  transition-property: left, top;
  border-radius: 2px;
}

.react-grid-item img {
  pointer-events: none;
  user-select: none;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
  transition: all 500ms ease;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: $SecondaryNavyBlue;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: '';
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  //margin-top: -10px;
  cursor: ew-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  //margin-left: -10px;
  cursor: ns-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
